*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(24, 24, 24, 0.6);
}
.container{
    background: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#head-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: auto;
}
.header-logo img{
    margin-left: 150px;
    width: 120px;
    height: 70px;
}
.btn button{
    width: 80px;
    padding: 7px;
    color: white;
    background-color: red;
    margin-right: 150px;
    border: none;
    border-radius: 5px;
}
.heading{
    text-align: center;
    margin:20px;
}
.heading h1{
    color: white;
    margin: 50px;
    font-size: 40px;
    font-weight: 800;
}
.heading .p1,.p2{
    color: white;
    margin:50px;
    font-size: 20px;
    font-weight: 200;
}
.email-input{
    display: flex;
   align-items: center;
   justify-content: center;
   margin-top:50px;
}
#email{
    margin: 10px;
    padding: 12px;
    width: 280px;
    border: 2px solid white;
    background-color: rgba(238, 226, 226, 0.8);
    border-radius: 7px;
}
::placeholder {
    color: rgb(0, 0, 0,0.6);
 }
.email-input button{
    padding: 15px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 7px;
}
.tv-section{
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tv-section div {
    margin: 100px;
}
.tv-head h1{
    color: white;
    padding: 10px;
    font-size: 40px;
    font-weight: 800;
}
.tv-head p{
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 200;
}
.tv-section div img{
    width: 500px;
    height: 330px;
}
.download-section{
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download-heading,.download-img{
    margin: 50px;
}
.download-img img{
    width: 450px;
    height: 380px;
}
.download-heading h1{
    color: white;
    font-size: 50px;
    font-weight: 800;
}
.download-heading p{
    color: white;
    font-size: 20px;
    font-weight: 200;
}
.extra-heading{
    margin-top: 13px;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 400px;
}
.extra-heading div{
    padding: 100px;
}
.extra-heading div h1{
    color:white ;
    font-size: 60px;
    font-weight: 700;

}
.extra-heading div p{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.kids-section{
    margin-top: 13px;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 400px;
    display: flex;
    place-items: center;
}
.kid-img img{
    margin: 0 100px;
    width: 500px;
    height: auto;
}
.kids-heading h1{
    font-size: 50px;
    font-weight: 800;
    color: white;
}
.kids-heading p{
    font-size: 20px;
    font-weight: 200;
    color:white ;
}

